:root {
  --color-headline: hsl(0, 0%, 13%);
  /* 222 */
  --color-text: hsl(0, 0%, 20%);
  /* 333*/
  --color-text-light: hsl(0, 0%, 40%);
  /* 666 */
  --color-text-light-2: hsl(0, 0%, 47%);
  /*777 */
  --color-border: hsl(0, 0%, 80%);
  --color-navbar-border: hsl(0, 0%, 95%);
  --color-primary: #008080;
  --color-tertiary: #bf5500;
  --color-tertiary: rgb(214, 140, 3);
  /* Spoacing to be used with padding and borders. The idea is to use these as enums in order to avoid errors. */
  --spacing-0-2: 0.2rem;
  --spacing-0-4: 0.4rem;
  --spacing-0-8: 0.8rem;
  --spacing-1-6: 1.6rem;
  --spacing-2-4: 2.4rem;
  --spacing-3-2: 3.2rem;
  --spacing-4-8: 4.8rem;
  --spacing-6-4: 6.4rem;
  --spacing-9-6: 9.6rem;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh; }

h1 {
  margin: 0;
  /* overrides style in normalize.css */ }

li {
  list-style: none; }

a,
button {
  cursor: pointer; }

a:link,
a:visited {
  color: var(--color-text);
  text-decoration: none; }

a:hover,
a:active {
  color: var(--color-tertiary); }

img,
audio,
video {
  max-width: 100%; }

svg {
  display: block;
  /* removes default whitespace from below SVGs */ }

body {
  font-size: 1.6rem;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-text); }

.heading {
  font-family: "Andada Pro"; }

.t-8 {
  font-size: 8px; }

.t-10 {
  font-size: 10px; }

.t-12 {
  font-size: 12px; }

.t-14 {
  font-size: 14px; }

.t-16 {
  font-size: 16px; }

.t-18 {
  font-size: 18px; }

.t-20 {
  font-size: 20px;
  line-height: 1.4; }

.t-24 {
  font-size: 24px;
  line-height: 1.3; }

.t-32 {
  font-size: 32px; }

.t-40 {
  font-size: 40px;
  line-height: 1.2; }

.t-48 {
  font-size: 48px; }

.t-64 {
  font-size: 64px; }

.t-96 {
  font-size: 96px; }

.absolute-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bullet-small {
  vertical-align: middle;
  background-color: currentColor;
  height: -4rem;
  width: -4rem;
  border-radius: 50%; }

.mt-0-2 {
  margin-top: 0.2rem; }

.mb-0-2 {
  margin-bottom: 0.2rem; }

.ml-0-2 {
  margin-left: 0.2rem; }

.mr-0-2 {
  margin-right: 0.2rem; }

.mt-0-4 {
  margin-top: 0.4rem; }

.mb-0-4 {
  margin-bottom: 0.4rem; }

.ml-0-4 {
  margin-left: 0.4rem; }

.mr-0-4 {
  margin-right: 0.4rem; }

.mt-0-8 {
  margin-top: 0.8rem; }

.mb-0-8 {
  margin-bottom: 0.8rem; }

.ml-0-8 {
  margin-left: 0.8rem; }

.mr-0-8 {
  margin-right: 0.8rem; }

.mt-1-6 {
  margin-top: 1.6rem; }

.mb-1-6 {
  margin-bottom: 1.6rem; }

.ml-1-6 {
  margin-left: 1.6rem; }

.mr-1-6 {
  margin-right: 1.6rem; }

.mt-2-4 {
  margin-top: 2.4rem; }

.mb-2-4 {
  margin-bottom: 2.4rem; }

.ml-2-4 {
  margin-left: 2.4rem; }

.mr-2-4 {
  margin-right: 2.4rem; }

.mt-3-2 {
  margin-top: 3.2rem; }

.mb-3-2 {
  margin-bottom: 3.2rem; }

.ml-3-2 {
  margin-left: 3.2rem; }

.mr-3-2 {
  margin-right: 3.2rem; }

.mt-4-8 {
  margin-top: 4.8rem; }

.mb-4-8 {
  margin-bottom: 4.8rem; }

.ml-4-8 {
  margin-left: 4.8rem; }

.mr-4-8 {
  margin-right: 4.8rem; }

.mt-6-4 {
  margin-top: 6.4rem; }

.mb-6-4 {
  margin-bottom: 6.4rem; }

.ml-6-4 {
  margin-left: 6.4rem; }

.mr-6-4 {
  margin-right: 6.4rem; }

.mt-9-6 {
  margin-top: 9.6rem; }

.mb-9-6 {
  margin-bottom: 9.6rem; }

.ml-9-6 {
  margin-left: 9.6rem; }

.mr-9-6 {
  margin-right: 9.6rem; }

.pt-0-2 {
  padding-top: 0.2rem; }

.pb-0-2 {
  padding-bottom: 0.2rem; }

.pl-0-2 {
  padding-left: 0.2rem; }

.pr-0-2 {
  padding-right: 0.2rem; }

.pt-0-4 {
  padding-top: 0.4rem; }

.pb-0-4 {
  padding-bottom: 0.4rem; }

.pl-0-4 {
  padding-left: 0.4rem; }

.pr-0-4 {
  padding-right: 0.4rem; }

.pt-0-8 {
  padding-top: 0.8rem; }

.pb-0-8 {
  padding-bottom: 0.8rem; }

.pl-0-8 {
  padding-left: 0.8rem; }

.pr-0-8 {
  padding-right: 0.8rem; }

.pt-1-6 {
  padding-top: 1.6rem; }

.pb-1-6 {
  padding-bottom: 1.6rem; }

.pl-1-6 {
  padding-left: 1.6rem; }

.pr-1-6 {
  padding-right: 1.6rem; }

.pt-2-4 {
  padding-top: 2.4rem; }

.pb-2-4 {
  padding-bottom: 2.4rem; }

.pl-2-4 {
  padding-left: 2.4rem; }

.pr-2-4 {
  padding-right: 2.4rem; }

.pt-3-2 {
  padding-top: 3.2rem; }

.pb-3-2 {
  padding-bottom: 3.2rem; }

.pl-3-2 {
  padding-left: 3.2rem; }

.pr-3-2 {
  padding-right: 3.2rem; }

.pt-4-8 {
  padding-top: 4.8rem; }

.pb-4-8 {
  padding-bottom: 4.8rem; }

.pl-4-8 {
  padding-left: 4.8rem; }

.pr-4-8 {
  padding-right: 4.8rem; }

.pt-6-4 {
  padding-top: 6.4rem; }

.pb-6-4 {
  padding-bottom: 6.4rem; }

.pl-6-4 {
  padding-left: 6.4rem; }

.pr-6-4 {
  padding-right: 6.4rem; }

.pt-9-6 {
  padding-top: 9.6rem; }

.pb-9-6 {
  padding-bottom: 9.6rem; }

.pl-9-6 {
  padding-left: 9.6rem; }

.pr-9-6 {
  padding-right: 9.6rem; }

.button {
  background-color: var(--color-primary);
  color: white;
  margin-left: var(--spacing-4-8);
  font-size: 1.8rem;
  font-weight: normal;
  border: none;
  padding: var(--spacing-1-6);
  border-radius: 20px; }

.hero__image {
  width: 1500px;
  display: block;
  margin: 0 auto; }

.page-container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  height: 3000px; }

.travel-guides {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.4rem;
  padding-top: var(--spacing-6-4);
  font-size: 14px; }
  .travel-guides a:link,
  .travel-guides a:visited {
    color: var(--color-text);
    text-decoration: none; }
  .travel-guides a .heading:hover,
  .travel-guides a .heading:active {
    color: var(--color-tertiary); }
  .travel-guides__section-a {
    text-align: center;
    grid-column: span 6; }
    .travel-guides__section-a img {
      display: block;
      object-fit: cover;
      background-position: center; }
  .travel-guides__article-a {
    padding: var(--spacing-2-4) var(--spacing-6-4);
    background-color: var(--color-navbar-border); }
  .travel-guides__section-b {
    display: grid;
    gap: 2.4rem;
    grid-column: span 6;
    align-content: start; }
    .travel-guides__section-b__container {
      display: grid;
      grid-template-columns: repeat(2, 8.85rem) repeat(4, 1fr); }
    .travel-guides__section-b img {
      grid-column: 1 / 3;
      object-fit: cover;
      background-position: center; }
  .travel-guides__article-b {
    grid-column: 3 / 7; }
    .travel-guides__article-b > article {
      padding-left: var(--spacing-0-8); }
  .travel-guides__section-c {
    grid-column: span 3; }
    .travel-guides__section-c img {
      max-height: 16rem;
      object-fit: cover; }

.travel-news {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.4rem;
  font-size: 14px;
  padding-top: var(--spacing-3-2); }
  .travel-news__section-a {
    grid-column: span 4;
    grid-row: 1 / 3; }
  .travel-news__section-b {
    grid-column: span 5;
    grid-row: 1 / 2; }
    .travel-news__section-b img {
      max-height: 100%; }
  .travel-news__section-c {
    grid-column: span 3;
    grid-row: 1 / 2; }
  .travel-news a:link,
  .travel-news a:visited {
    color: var(--color-text);
    text-decoration: none; }
  .travel-news a .heading:hover,
  .travel-news a .heading:active {
    color: var(--color-tertiary); }

.sponsored-cards {
  padding-top: var(--spacing-3-2);
  font-size: 14px; }
  .sponsored-cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem; }
  .sponsored-cards__stop-flex-wrap {
    display: flex;
    gap: 2.4rem;
    width: 41.6rem;
    /* width of two small cards plus gap from sponsored-cards__container class  */ }
  .sponsored-cards__card img {
    height: 20rem;
    object-fit: cover;
    object-position: center;
    filter: brightness(80%);
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.8s; }
    .sponsored-cards__card img:hover {
      transform: scale(1.1); }
  .sponsored-cards__card--md {
    flex: 0 1 41.6rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px; }
  .sponsored-cards__card--sm {
    flex: 0 1 19.6rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px; }
  .sponsored-cards__destination {
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 0.2px 0.2px 0.2px black;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 var(--spacing-0-4);
    border-radius: 5px; }
  .sponsored-cards__price {
    color: white;
    font-weight: 700;
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: #f2007d;
    padding: var(--spacing-0-4) var(--spacing-0-8);
    border-radius: 5px; }

.nav {
  height: 6rem;
  font-size: 14px;
  border-bottom: 1px solid var(--color-navbar-border); }
  .nav__container {
    height: 100%;
    width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    align-items: center; }
  .nav__logo {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-primary); }
  .nav__right {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-3-2); }
  .nav__link {
    text-decoration: none; }
    .nav__link:link, .nav__link:visited {
      color: var(--color-text); }
    .nav__link:hover, .nav__link:active {
      color: var(--color-tertiary); }
