.hero {
  // max-width: 1200px;
  // height: 555px;
  height: 615px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &__image {
    // max-width: 1200px;
    // height: 555px;
    object-fit: cover;
    display: block;
    height: 100%;

    width: 100%;

    border-bottom-right-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
  }

  &__text-container {
    background-color: var(--color-secondary);
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0px;
    // left: 0px;
    left: 50%;
    // width: 100%;
    padding: var(--spacing-0-8);
    transform: translateX(-50%);
    border-radius: var(--border-radius-md);
  }

  &__text {
    color: white;
    font-weight: 500;
    font-size: 2.4rem;
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}
