.nav {
  height: 6rem;
  @include t-1-6;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  white-space: nowrap;

  &__container {
    @include respond(phone-xs) {
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 100%;
    }
    height: 100%;
    // width: 120rem;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    align-items: center;
  }

  &__logo {
    height: 35px;
    vertical-align: middle;
    @include respond(tab-land) {
      margin-left: 65px;
    }
    @include respond(phone-xs) {
      margin-left: 0;
    }
  }

  &__left {
    @include respond(phone-xs) {
      margin-left: 7rem; // Must be same value as width of hamburger__button from hamburger.scss
      text-align: center;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-3-2);
  }

  &__item {
    &--7 {
      @include respond(phone-xs) {
        display: none;
      }
    }
    &--6 {
      @include respond(tab-land) {
        display: none;
      }
    }

    &--5 {
      @include respond(tab-land-s) {
        display: none;
      }
    }

    &--4 {
      @include respond(tab-port) {
        display: none;
      }
    }
    &--3 {
      @include respond(tab-port-s) {
        display: none;
      }
    }

    &--2 {
      @include respond(phone) {
        display: none;
      }
    }
    &--1 {
      @include respond(phone-s) {
        display: none;
      }
    }
  }

  &__link {
    text-decoration: none;

    &:link,
    &:visited {
      color: var(--color-text);
      color: white;
    }

    &:hover,
    &:active {
      color: var(--color-tertiary-light);
    }
  }

  &__cta {
    @include respond(tab-port) {
      padding: 0.6rem 1rem;
    }

    background-color: white;
    padding: var(--spacing-0-8) var(--spacing-1-6);
    border-radius: var(--border-radius-md);
    font-weight: 500;

    &:link,
    &:visited {
      color: var(--color-text);
    }

    &:hover,
    &:active {
      color: var(--color-tertiary);
    }
  }
}
