.nav {
  height: 6rem;
  @include t-1-4;
  @include t-1-6;
  background-color: var(--color-headline);
  background-color: rgba(0, 0, 0, 0.8);
  background-color: black;

  width: 100%;
  // border-bottom: 1px solid var(--color-navbar-border);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;

  &__container {
    height: 100%;
    // width: 120rem;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    align-items: center;
  }

  &__logo {
    height: 35px;
  }

  &__left {
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-3-2);
  }

  &__link {
    text-decoration: none;

    &:link,
    &:visited {
      color: var(--color-text);
      color: white;
    }

    &:hover,
    &:active {
      color: var(--color-tertiary-light);
    }
  }

  &__cta {
    background-color: white;
    padding: var(--spacing-0-8) var(--spacing-1-6);
    border-radius: var(--border-radius-md);
    font-weight: 500;

    &:link,
    &:visited {
      color: var(--color-text);
    }

    &:hover,
    &:active {
      color: var(--color-tertiary);
    }
  }
}
