.section-heading {
  padding-top: var(--spacing-9-6);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: var(--spacing-0-8);
  align-items: center;
  @include t-2-0;
  color: white;
  font-weight: 400;
  // font-family: "Andada Pro";

  span {
    background-color: var(--color-primary);
    padding: var(--spacing-0-8);
    border-radius: var(--border-radius-md);
  }

  &--first {
    @include respond(tab-land) {
      padding-top: var(--spacing-4-8);
    }
  }
}

.section-heading:after {
  content: "";
  height: 1px;
  display: block;
  background-color: var(--color-primary);
}
