.section-heading {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: var(--spacing-0-8);
  align-items: center;
  font-size: 2rem;
  color: white;
  font-weight: 400;
  // font-family: "Andada Pro";

  span {
    background-color: var(--color-primary);
    padding: var(--spacing-0-8);
    border-radius: var(--border-radius-md);
  }
}

.section-heading:after {
  content: "";
  height: 1px;
  display: block;
  background-color: var(--color-primary);
}
