.sponsored-cards {
  padding-top: var(--spacing-1-6);
  @include t-1-4;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-2-4);
    padding-top: var(--spacing-2-4);
  }

  &__stop-flex-wrap {
    display: flex;
    gap: var(--spacing-2-4);
    width: 41.6rem; /* width of two small cards plus gap from sponsored-cards__container class  */
  }

  &__card {
    .was-auto-resized {
      height: 20rem;
      width: 100%;
    }
    img {
      filter: brightness(80%);
      display: block;
      border-radius: 10px;
      transition: transform 0.8s;
    }
  }

  &__card--md {
    flex: 0 1 41.6rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &:hover img {
      transform: scale(1.06);
    }
  }
  &__card--sm {
    flex: 0 1 19.6rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &:hover img {
      transform: scale(1.06);
    }
  }
  &__destination {
    color: white;
    font-weight: 700;
    @include t-1-8;
    text-shadow: 0.2px 0.2px 0.2px black;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 var(--spacing-0-4);
    border-radius: 5px;

    @include respond(phone) {
      @include t-1-6;
    }
  }

  &__price {
    color: white;
    font-weight: 700;
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: #f2007d;
    padding: var(--spacing-0-4) var(--spacing-0-8);
    border-radius: 5px;
  }
}
