.sponsored-cards {
  padding-top: var(--spacing-3-2);
  font-size: 1.4rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
  }

  &__card {
    img {
      height: 20rem;
      object-fit: cover;
      object-position: center;
      filter: brightness(90%);
      width: 100%;
      display: block;
    }
  }

  &__card--a {
    flex: 0 1 41.6rem;
  }
  &__card--b {
    flex: 0 1 19.6rem;
  }
  &__card--c {
    flex: 0 1 19.6rem;
  }

  &__card--d {
    flex: 0 1 19.6rem;
  }
  &__card--e {
    flex: 0 1 19.6rem;
  }
  &__card--f {
    flex: 0 1 41.6rem;
  }

  // &__card--a {
  //   grid-column: 3 / 12;
  // }
  // &__card--b {
  //   grid-column: 12 / 17;
  // }
  // &__card--c {
  //   grid-column: 17 / 22;
  // }

  // &__card--d {
  //   grid-column: 3 / 8;
  // }
  // &__card--e {
  //   grid-column: 8 / 13;
  // }
  // &__card--f {
  //   grid-column: 13 / 22;
  // }
}
