.travel-news {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--spacing-2-4);
  row-gap: var(--spacing-1-6);
  @include t-1-4;
  padding-top: var(--spacing-3-2);
  align-items: start;

  &__section-a {
    grid-column: span 4;
    grid-column: span 9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing-1-6);

    @include respond(tab-land) {
      grid-column: span 6;
    }

    @include respond(phone) {
      grid-column: span 12;
    }

    &__sub-1 {
      grid-column: span 5;

      @include respond(tab-land) {
        grid-column: span 12;
        // grid-row: 1 / 2;
      }

      p {
        @include respond(tab-port) {
          display: none;
        }
      }
    }

    &__sub-2 {
      grid-column: span 7;

      @include respond(tab-land) {
        height: 34rem;
        grid-column: span 12;
        // grid-row: 2 / 3;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 32.4rem;
        height: 34rem;
        border-radius: var(--border-radius-md);
      }
    }

    &__title {
      font-family: "Andada Pro", serif;
      padding-bottom: var(--spacing-0-4);
    }

    &__title--main {
      @include t-3-2;
      @include respond(tab-port) {
        @include t-2-4;
      }
    }

    &__title--secondary {
      @include t-1-6;
    }

    p {
      padding-bottom: var(--spacing-2-4);
      @include respond(tab-land) {
        padding-bottom: 0;
      }
    }
  }

  &__section-c {
    grid-column: span 3;

    @include respond(tab-land) {
      display: grid;
      grid-column: 7 / 13;
      gap: var(--spacing-1-6);
    }

    @include respond(phone) {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
    }

    h3 {
      font-family: "Andada Pro", serif;
      @include t-1-6;

      // @include respond(tab-land) {
      //   @include t-1-8;
      // }
      // @include respond(tab-port) {
      //   @include t-1-6;
      // }
      @include respond(tab-land) {
        @include t-1-6;
      }
    }

    h3:not(:last-child) {
      padding-bottom: var(--spacing-2-4);

      @include respond(tab-port) {
        padding-bottom: var(--spacing-1-6);
      }
    }

    &__title {
      font-family: "Andada Pro", serif;
      padding-bottom: var(--spacing-0-4);
    }

    &__title--main {
      @include t-3-2;
    }

    &__title--secondary {
      @include t-1-6;
      display: none;

      @include respond(tab-land) {
        display: block;
      }
    }
  }
}
