.travel-news-two {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-2-4);
  @include t-1-4;

  &__container {
    display: flex;
    gap: var(--spacing-0-8);
    justify-content: start;
    padding-bottom: var(--spacing-2-4);
  }

  &__section-a {
    grid-column: span 6;

    h3 {
      @include t-2-0;
      padding-bottom: var(--spacing-0-4);
      font-family: "Andada Pro", serif;
    }

    img {
      object-fit: cover;
      object-position: center;
      /* min-width used because this is a flex item. Width is taken as flex-basis, which is just an "ideal width." Flexbox would reduce the width depending on the contents of other flex items   */
      min-width: 23rem;
      max-width: 23rem;
      height: 13.8rem;
      border-radius: var(--border-radius-md);
    }
  }

  &__section-b {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2-4);

    img {
      object-fit: cover;
      object-position: center;
      /* min-width used because this is a flex item. Width is taken as flex-basis, which is just an "ideal width." Flexbox would reduce the width depending on the contents of other flex items   */
      min-width: 18rem;
      max-width: 18rem;
      height: 10.8rem;
      border-radius: var(--border-radius-md);
    }

    h3 {
      @include t-2-0;
      padding: var(--spacing-0-4) 0;
      font-family: "Andada Pro", serif;
    }

    &__sub-1 {
      grid-column: span 1;
    }
    // &__sub-2 {
    //   grid-column: span 1;
    // }
    // &__sub-3 {
    //   grid-column: span 1;
    // }
  }
}
