// .test {
//   grid-column: span 6;
// }

.travel-guides {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-2-4);
  padding-top: var(--spacing-6-4);
  font-size: 14px;

  a:link,
  a:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  a .heading:hover,
  a .heading:active {
    color: var(--color-tertiary);
  }

  &__section-a {
    text-align: center;
    grid-column: span 6;

    img {
      display: block;
      object-fit: cover;
      background-position: center;
      border-top-right-radius: var(--border-radius-md);
      border-top-left-radius: var(--border-radius-md);
    }
  }

  &__article-a {
    padding: var(--spacing-2-4) var(--spacing-6-4);
    background-color: var(--color-navbar-border);
    border-bottom-right-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
  }

  &__section-b {
    display: grid;
    gap: var(--spacing-2-4);
    grid-column: span 6;
    align-content: start;

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 8.85rem) repeat(4, 1fr);
    }

    img {
      grid-column: 1 / 3;
      object-fit: cover;
      background-position: center;
      border-radius: var(--border-radius-md);
      // height: 100%;
    }
  }

  &__article-b {
    grid-column: 3 / 7;

    > article {
      padding-left: var(--spacing-0-8);
    }
  }

  &__section-c {
    grid-column: span 3;

    img {
      max-height: 16rem;
      object-fit: cover;
      border-radius: var(--border-radius-md);
    }
  }
}
