.travel-news {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.4rem;
  font-size: 14px;
  padding-top: var(--spacing-3-2);

  &__section-a {
    grid-column: span 4;
    grid-row: 1 / 3;
  }

  &__section-b {
    grid-column: span 5;
    grid-row: 1 / 2;

    img {
      max-height: 100%;
    }
  }

  &__section-c {
    grid-column: span 3;
    grid-row: 1 / 2;
  }

  a:link,
  a:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  a .heading:hover,
  a .heading:active {
    color: var(--color-tertiary);
  }
}
