.travel-news {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-2-4);
  font-size: 14px;
  padding-top: var(--spacing-3-2);

  &__section-a {
    grid-column: span 4;
    grid-row: 1 / 3;
  }

  &__section-b {
    grid-column: span 5;
    grid-row: 1 / 2;

    &__img-container {
      height: 32.4rem;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-md);
    }
  }

  &__section-c {
    grid-column: span 3;
    grid-row: 1 / 2;
  }

  a:link,
  a:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  a .heading:hover,
  a .heading:active {
    color: var(--color-tertiary);
  }
}
