.travel-guides {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-2-4);
  padding-top: var(--spacing-3-2);
  @include t-1-4;

  @include respond(phone) {
    gap: var(--spacing-1-6);
    grid-template-columns: repeat(8, 1fr);
  }

  &__section-a {
    text-align: center;
    grid-column: span 6;

    img {
      display: block;
      object-fit: cover;
      max-height: 33rem;
      width: 100%;
      object-position: center;
      border-top-right-radius: var(--border-radius-md);
      border-top-left-radius: var(--border-radius-md);
    }

    @include respond(phone) {
      grid-column: span 8;
      grid-row: 1 / 2;
    }

    &__sub-1 {
      padding: var(--spacing-2-4) var(--spacing-6-4);
      background-color: var(--color-navbar-border);
      border-bottom-right-radius: var(--border-radius-md);
      border-bottom-left-radius: var(--border-radius-md);

      @include respond(tab-port) {
        padding: var(--spacing-2-4) var(--spacing-2-4);
      }

      h3 {
        @include t-4-0;
        padding-bottom: var(--spacing-1-6);
        font-family: "Andada Pro", serif;

        @include respond(tab-land) {
          @include t-3-2;
        }

        @include respond(tab-port-s) {
          font-size: 26px;
        }

        @include respond(phone) {
          @include t-2-4;
        }
      }

      p {
        @include respond(phone) {
          display: none;
        }
      }
    }
  }

  &__section-b {
    display: grid;
    gap: var(--spacing-2-4);
    grid-column: span 6;
    align-content: start;

    @include respond(phone) {
      grid-column: span 8;
      grid-row: 2 / 3;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 8.85rem) repeat(4, 1fr);

      .was-auto-resized {
        width: 17.7rem;
        height: 11.8rem;
        height: 13rem;
      }
    }

    img {
      grid-column: 1 / 3;
      border-radius: var(--border-radius-md);
    }

    &__sub-1 {
      grid-column: 3 / 7;

      > article {
        padding-left: var(--spacing-0-8);
      }

      p {
        @include respond(tab-land) {
          display: none;
        }
      }

      h3 {
        font-family: "Andada Pro", serif;
        @include t-2-0;
        padding-bottom: var(--spacing-0-8);

        @include respond(tab-land) {
          @include t-1-8;
        }

        @include respond(tab-port) {
          @include t-1-6;
        }
      }
    }
  }

  &__section-c {
    grid-column: span 3;

    @include respond(phone) {
      grid-column: span 8;
    }

    &__sub-1 {
      display: grid;
      grid-template-columns: minmax(13.7rem, 28.2rem) 1fr;
      grid-gap: var(--spacing-0-8);

      @include respond(phone) {
        display: flex;
        flex-wrap: wrap;
      }

      .was-auto-resized {
        // display: inline;
        max-height: 16rem;
        width: 100%;
        grid-column: span 2;
      }
    }

    img {
      max-height: inherit;
      border-radius: var(--border-radius-md);

      @include respond(tab-port) {
        height: 13rem;
      }
      @include respond(phone) {
        grid-column: span 1;
        height: auto;
      }
    }

    h3 {
      padding-bottom: var(--spacing-0-8);
      font-family: "Andada Pro", serif;
      @include t-2-0;

      @include respond(tab-land) {
        @include t-1-8;
      }

      @include respond(tab-port) {
        @include t-1-6;
      }

      @include respond(phone) {
        grid-column: span 1;
      }
    }
  }
}
