.button {
  background-color: var(--color-primary);
  color: white;
  margin-left: var(--spacing-4-8);
  font-size: 1.8rem;
  font-weight: normal;
  border: none;
  padding: var(--spacing-1-6);
  border-radius: 20px;
}
