:root {
  --color-headline: hsl(0, 0%, 13%); /* 222 */
  --color-text: hsl(0, 0%, 20%); /* 333*/
  --color-text-light: hsl(0, 0%, 40%); /* 666 */
  --color-text-light-2: hsl(0, 0%, 47%); /*777 */
  --color-border: hsl(0, 0%, 80%);
  --color-navbar-border: hsl(0, 0%, 95%);

  // --color-primary: hsl(187, 90%, 47%);
  // --color-primary: hsl(195, 83%, 63%);
  // --color-tertiary: hsl(37, 60%, 53%);
  --color-primary: #008080;
  --color-secondary: hsl(207, 83%, 30%);
  --color-secondary-light: rgb(180, 206, 227);
  --color-secondary-extra-light: rgb(226, 231, 243);
  --color-secondary-dark: hsl(207, 81%, 17%);
  // --color-tertiary: #bf5500;
  --color-tertiary: rgb(214, 140, 3);
  --color-tertiary-light: rgb(214, 198, 119);

  /* Spoacing to be used with padding and borders. The idea is to use these as enums in order to avoid errors. */
  --spacing-0-2: 0.2rem;
  --spacing-0-4: 0.4rem;
  --spacing-0-8: 0.8rem;
  --spacing-1-6: 1.6rem;
  --spacing-2-4: 2.4rem;
  --spacing-3-2: 3.2rem;
  --spacing-4-8: 4.8rem;
  --spacing-6-4: 6.4rem;
  --spacing-9-6: 9.6rem;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 20px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  // @include respond(big-desktop) {
  //   font-size: 75%; //1rem = 12, 12/16
  // }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

h1 {
  margin: 0; /* overrides style in normalize.css */
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

// a:link,
// a:visited {
//   color: var(--color-text);
//   text-decoration: none;
// }

// a:hover,
// a:active {
//   color: var(--color-tertiary);
// }

a:link,
a:visited,
a:hover,
a:active {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

.show-hover:hover,
.show-hover:active {
  color: var(--color-tertiary);
}

img,
audio,
video {
  max-width: 100%;
}

svg {
  display: block; /* removes default whitespace from below SVGs */
}
