body {
  font-size: 1.6rem;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-text);
}

.t-secondary {
  font-family: "Andada Pro";
}

.t-0-8 {
  @include t-0-8;
}

.t-1-0 {
  @include t-1-0;
}

.t-1-2 {
  @include t-1-2;
}
.t-1-4 {
  @include t-1-4;
}

.t-1-6 {
  @include t-1-6;
}

.t-1-8 {
  @include t-1-8;
}

.t-2-0 {
  @include t-2-0;
}

.t-2-4 {
  @include t-2-4;
}

.t-3-2 {
  @include t-3-2;
}

.t-4-0 {
  @include t-4-0;
}

.t-4-8 {
  @include t-4-8;
}

.t-6-4 {
  @include t-6-4;
}

.t-9-6 {
  @include t-9-6;
}
