body {
  font-size: 1.6rem;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-text);
}

.heading {
  font-family: "Andada Pro";
}

.t-8 {
  font-size: 8px;
}

.t-10 {
  font-size: 10px;
}

.t-12 {
  font-size: 12px;
}

.t-14 {
  font-size: 14px;
}

.t-16 {
  font-size: 16px;
}

.t-20 {
  font-size: 20px;
  line-height: 1.4;
}

.t-24 {
  font-size: 24px;
  line-height: 1.3;
}

.t-32 {
  font-size: 32px;
}

.t-40 {
  font-size: 40px;
  line-height: 1.2;
}

.t-48 {
  font-size: 48px;
}

.t-64 {
  font-size: 64px;
}

.t-96 {
  font-size: 96px;
}
