.absolute-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bullet-small {
  vertical-align: middle;
  background-color: currentColor;
  height: 0-4rem;
  width: 0-4rem;
  border-radius: 50%;
}

.display-block {
  display: block !important;
}
.display-inline-block {
  display: inline-block !important;
}
.display-flex {
  display: flex !important;
}
.display-none {
  display: none !important;
}

/* start hiding from tab-land and continue to hide for screens smaller than tab-land */
.hide-tab-land {
  @include hide-from-and-below(tab-land);
}

/* start hiding from tab-land-s and continue to hide for screens smaller than tab-land-s */
.hide-tab-land-s {
  @include hide-from-and-below(tab-land-s);
}

/* start hiding from tab-port and continue to hide for screens smaller than tab-port */
.hide-tab-port {
  @include hide-from-and-below(tab-port);
}

/* start hiding from tab-port-s and continue to hide for screens smaller than tab-port-s */
.hide-tab-port-s {
  @include hide-from-and-below(tab-port-s);
}

/* start hiding from phone and continue to hide for screens smaller than phone */
.hide-phone {
  @include hide-from-and-below(phone);
}

/* start hiding from phone-s and continue to hide for screens smaller than phone-s */
.hide-phone-s {
  @include hide-from-and-below(phone-s);
}

/* start hiding from phone-xs and continue to hide for screens smaller than phone-xs */
.hide-phone-xs {
  @include hide-from-and-below(phone-xs);
}

/* start showing from tab-land and continue to show for screens smaller than tab-land */
.show-tab-land {
  @include show-from-and-below(tab-land, block);
}

/* start showing from tab-land-s and continue to show for screens smaller than tab-land-s */
.show-tab-land-s {
  @include show-from-and-below(tab-land-s, block);
}

/* start showing from tab-port and continue to show for screens smaller than tab-port */
.show-tab-port {
  @include show-from-and-below(tab-port, block);
}

/* start showing from tab-port-s and continue to show for screens smaller than tab-port-s */
.show-tab-port-s {
  @include show-from-and-below(tab-port-s, block);
}

/* start showing from phone and continue to show for screens smaller than phone */
.show-phone {
  @include show-from-and-below(phone, block);
}

/* start showing from phone-s and continue to show for screens smaller than phone-s */
.show-phone-s {
  @include show-from-and-below(phone-s, block);
}

/* start showing from phone-xs and continue to show for screens smaller than phone-xs */
.show-phone-xs {
  @include show-from-and-below(phone-xs, block);
}

.show-only-tab-land {
  @include show-only-for(tab-land, block);
}

.show-only-tab-land-s {
  @include show-only-for(tab-land-s, block);
}

.show-only-tab-port {
  @include show-only-for(tab-port, block);
}

.show-only-tab-port-s {
  @include show-only-for(tab-port-s, block);
}

.show-only-phone {
  @include show-only-for(phone, block);
}

.show-only-phone-s {
  @include show-only-for(phone-s, block);
}

.show-only-phone-xs {
  @include show-only-for(phone-xs, block);
}

/* start showing from tab-land and continue to show for screens smaller than tab-land */
.show-tab-land-flex {
  @include show-from-and-below(tab-land, flex);
}

/* start showing from tab-land-s and continue to show for screens smaller than tab-land-s */
.show-tab-land-s-flex {
  @include show-from-and-below(tab-land-s, flex);
}

/* start showing from tab-port and continue to show for screens smaller than tab-port */
.show-tab-port-flex {
  @include show-from-and-below(tab-port, flex);
}

/* start showing from tab-port-s and continue to show for screens smaller than tab-port-s */
.show-tab-port-s-flex {
  @include show-from-and-below(tab-port-s, flex);
}

/* start showing from phone and continue to show for screens smaller than phone */
.show-phone-flex {
  @include show-from-and-below(phone, flex);
}

/* start showing from phone-s and continue to show for screens smaller than phone-s */
.show-phone-s-flex {
  @include show-from-and-below(phone-s, flex);
}

/* start showing from phone-xs and continue to show for screens smaller than phone-xs */
.show-phone-xs-flex {
  @include show-from-and-below(phone-xs, flex);
}

.show-only-tab-land-flex {
  @include show-only-for(tab-land, flex);
}

.show-only-tab-land-s-flex {
  @include show-only-for(tab-land-s, flex);
}

.show-only-tab-port-flex {
  @include show-only-for(tab-port, flex);
}

.show-only-tab-port-s-flex {
  @include show-only-for(tab-port-s, flex);
}

.show-only-phone-flex {
  @include show-only-for(phone, flex);
}

.show-only-phone-s-flex {
  @include show-only-for(phone-s, flex);
}

.show-only-phone-xs-flex {
  @include show-only-for(phone-xs, flex);
}

.mt-0-2 {
  margin-top: 0.2rem;
}

.mb-0-2 {
  margin-bottom: 0.2rem;
}

.ml-0-2 {
  margin-left: 0.2rem;
}

.mr-0-2 {
  margin-right: 0.2rem;
}

.mt-0-4 {
  margin-top: 0.4rem;
}

.mb-0-4 {
  margin-bottom: 0.4rem;
}

.ml-0-4 {
  margin-left: 0.4rem;
}

.mr-0-4 {
  margin-right: 0.4rem;
}

.mt-0-8 {
  margin-top: 0.8rem;
}

.mb-0-8 {
  margin-bottom: 0.8rem;
}

.ml-0-8 {
  margin-left: 0.8rem;
}

.mr-0-8 {
  margin-right: 0.8rem;
}

.mt-1-6 {
  margin-top: 1.6rem;
}

.mb-1-6 {
  margin-bottom: 1.6rem;
}

.ml-1-6 {
  margin-left: 1.6rem;
}

.mr-1-6 {
  margin-right: 1.6rem;
}

.mt-2-4 {
  margin-top: 2.4rem;
}

.mb-2-4 {
  margin-bottom: 2.4rem;
}

.ml-2-4 {
  margin-left: 2.4rem;
}

.mr-2-4 {
  margin-right: 2.4rem;
}

.mt-3-2 {
  margin-top: 3.2rem;
}

.mb-3-2 {
  margin-bottom: 3.2rem;
}

.ml-3-2 {
  margin-left: 3.2rem;
}

.mr-3-2 {
  margin-right: 3.2rem;
}

.mt-4-8 {
  margin-top: 4.8rem;
}

.mb-4-8 {
  margin-bottom: 4.8rem;
}

.ml-4-8 {
  margin-left: 4.8rem;
}

.mr-4-8 {
  margin-right: 4.8rem;
}

.mt-6-4 {
  margin-top: 6.4rem;
}

.mb-6-4 {
  margin-bottom: 6.4rem;
}

.ml-6-4 {
  margin-left: 6.4rem;
}

.mr-6-4 {
  margin-right: 6.4rem;
}

.mt-9-6 {
  margin-top: 9.6rem;
}

.mb-9-6 {
  margin-bottom: 9.6rem;
}

.ml-9-6 {
  margin-left: 9.6rem;
}

.mr-9-6 {
  margin-right: 9.6rem;
}

.pt-0-2 {
  padding-top: 0.2rem;
}

.pb-0-2 {
  padding-bottom: 0.2rem;
}

.pl-0-2 {
  padding-left: 0.2rem;
}

.pr-0-2 {
  padding-right: 0.2rem;
}

.pt-0-4 {
  padding-top: 0.4rem;
}

.pb-0-4 {
  padding-bottom: 0.4rem;
}

.pl-0-4 {
  padding-left: 0.4rem;
}

.pr-0-4 {
  padding-right: 0.4rem;
}

.pt-0-8 {
  padding-top: 0.8rem;
}

.pb-0-8 {
  padding-bottom: 0.8rem;
}

.pl-0-8 {
  padding-left: 0.8rem;
}

.pr-0-8 {
  padding-right: 0.8rem;
}

.pt-1-6 {
  padding-top: 1.6rem;
}

.pb-1-6 {
  padding-bottom: 1.6rem;
}

.pl-1-6 {
  padding-left: 1.6rem;
}

.pr-1-6 {
  padding-right: 1.6rem;
}

.pt-2-4 {
  padding-top: 2.4rem;
}

.pb-2-4 {
  padding-bottom: 2.4rem;
}

.pl-2-4 {
  padding-left: 2.4rem;
}

.pr-2-4 {
  padding-right: 2.4rem;
}

.pt-3-2 {
  padding-top: 3.2rem;
}

.pb-3-2 {
  padding-bottom: 3.2rem;
}

.pl-3-2 {
  padding-left: 3.2rem;
}

.pr-3-2 {
  padding-right: 3.2rem;
}

.pt-4-8 {
  padding-top: 4.8rem;
}

.pb-4-8 {
  padding-bottom: 4.8rem;
}

.pl-4-8 {
  padding-left: 4.8rem;
}

.pr-4-8 {
  padding-right: 4.8rem;
}

.pt-6-4 {
  padding-top: 6.4rem;
}

.pb-6-4 {
  padding-bottom: 6.4rem;
}

.pl-6-4 {
  padding-left: 6.4rem;
}

.pr-6-4 {
  padding-right: 6.4rem;
}

.pt-9-6 {
  padding-top: 9.6rem;
}

.pb-9-6 {
  padding-bottom: 9.6rem;
}

.pl-9-6 {
  padding-left: 9.6rem;
}

.pr-9-6 {
  padding-right: 9.6rem;
}
